{% extends 'master' %}

{% block content %}
    <div class="homepage">
        <h1>ThePeoplesPoll.com</h1>
        <p>A site where you can make polls and share them with your friends</p>
        <a id="make-poll" href="/polls/create">Make a New Poll!</a>
        <a id="view-polls" href="/polls">View Polls!</a>
    </div>
{% endblock %}